@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

.container {
	min-height:100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display:flex;
	padding: 10px 30px;
	color:white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(https://firebasestorage.googleapis.com/v0/b/portfilo-eaa0e.appspot.com/o/animated.jpg?alt=media&token=a9ea2056-3715-40d3-bab5-c9f3f5f42fe3);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */


/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */

/* Skills Section */
#skills {
	background-color: #f7f7f7; 
	padding: 20px; 
  }
  
  .section-title {
	text-align: center;
	color: #333; 
  }
  
  .skill-tags {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center; 
	margin-top: 20px; 
  }
  
  .skill-tag {
	background-color: #007bff; 
	color: #fff; 
	padding: 8px 12px; 
	margin: 5px; 
	border-radius: 5px; 
  }
  

  .skill-tag.html { background-color: #e81c2d; } 

  .skill-tag.html:hover{
	background-color: #55010e;
  }
  .skill-tag.css { background-color: #a440a3; } 

  .skill-tag.css:hover{
	background-color: #530153;
  }
  .skill-tag.js { background-color: #f0db4f; } 

  .skill-tag.js:hover{
	background-color: #6e6703;
  }
  .skill-tag.C { background-color: #a8b9cc; } 

  .skill-tag.C:hover{
	background-color: #4e7e97;
  }
  .skill-tag.Python { background-color: #3572a5; } 

  .skill-tag.Python:hover{
	background-color: #1a3d61;
  }
  .skill-tag.Cpp { background-color: #bd532c; } 

  .skill-tag.Cpp:hover{
	background-color: #4d1f01;
  }
  .skill-tag.Ms-Excel { background-color: #217346; }
  
  .skill-tag.Ms-Excel:hover{
	background-color: #065c03;
  }
  .skill-tag.DataStructure { background-color: #a4486a; } 

  .skill-tag.DataStructure:hover{
	background-color: #5e033d;
  }
  

  @keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateY(20px); 
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  /* End of Skill section */

  /* project section */
#projects {
	background-color: #f9f9f9;
	padding: 80px 0;
  }
  
  .projects {
	text-align: center;
  }
  
  .section-title {
	color: #333;
	font-size: 2.5rem;
	margin-bottom: 30px;
  }

  .projects{
	display: flex;
	flex-direction: column;
  }

  .project-list{
	display: flex;
	justify-content: space-evenly;
	padding: 40px;
  }
  
  .project-item {
	background-color:white;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	width: 274px;
    height: 189px;
  }
  
  .project-item h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
  }
  
  .project-item p {
	font-size: 1rem;
	color: #666;
	margin-bottom: 15px;
  }
  
  .project-item a {
	display: inline-block;
	background-color: crimson;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
  }
  
  .project-item a:hover {
	background-color: #0056b3;
  }

  /* certificate section */
  .certificate {
	display:flex;
	flex-direction: column;
  }
  
  .section-title {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .certificate-list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 40px;
	gap: 50px;
	justify-content: center; 
  }
  
  .certificate-item {
	flex: 1 1 calc(25% - 20px); 
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	width: 282px;
	height: 184px; 
	margin: 40px;
	
  }
  
  .certificate-item h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
	text-align: center;
	
  }
  
  .certificate-item p {
	margin-bottom: 15px;
	margin-bottom: 15px;
   text-align: center;
  }
  
  .certificate-item .cta {
	display: inline-block;
	background-color: crimson;
	border: #0056b3;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s;
	font-size: 1rem;
	margin-top: 8px;
	margin-right: 10px;
	align-items: center;
  }
  
  .certificate-item .cta:hover {
	background-color: #0056b3;
  }
  /* End of certificate section */
/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
.contact-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	margin-top: -50px;
}
  
/*End contact Section */

button[type="submit"]:hover {
  background-color: #45a049;
}
/* Get Connected Section */
#get-connected {
	background-color: #f5f5f5;
	padding: 80px 0;
  }
  
  .get-connected {
	text-align: center;
  }
  
  .contact-form {
	max-width: 500px;
	margin: 0 auto;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  textarea {
	resize: vertical;
  }
  
  button[type="submit"] {
	background-color:white;
	color:black;
	padding: 12px 24px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
	background-color:crimson;
	
  }
/* end of get connected section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer__title {

	text-align: center;
	font-size: 2rem;
	margin-bottom: 3px;
  }
  .footer__social {
	margin-bottom: 2px;
	text-align: center;
	align-items: center;
	font-size: large;
  }
  .footer__icon {
	font-size: 1.5rem;
	color: #fff;
	margin: 20px;
  }
  .footer__copy {
	font-size: var(--smaller-font-size);
  }
#footer p {
	color: white;
	font-size: 2.3rem;
	text-align: center;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */



	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(120, 68, 79);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

@media (max-width:450px){
	.project-list{
		flex-direction: column;
	}

	.get-connected{
		display: flex;
		flex-direction: column;
	}
 @media only screen and (max-width:450px) {
	.certificate-list{
          display: flex;
		  flex-direction: column;
	}
	
 }

}
/* End  Media Query For Desktop */